body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 2rem;
    width: 30%;
    border: 1px solid var(--red-border-color);
    box-shadow: 0px 0px 1rem var(--red-shadow-color);
    border-radius: .25rem;
    position: relative;
}

.main-body>div>label {
    text-align: left;
    font-size: large;
}

.icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-white);
    border-radius: 50%;
    border-top: 1px solid var(--darkred);
    z-index: 1;
}

.main-body>div>input {
    font-size: large;
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
    border: 1px solid var(--darkred);
}

.main-body>div>input:focus {
    outline: 3px solid var(--focus-red);
    transition: .1s;
}

.main-body {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1.5rem;
}

div>h1 {
    text-align: center;
}

.new-password {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: .25rem;
}


.current-password {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: .25rem;
}

.authority-code {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: .25rem;
}

.link-btn {
    width: 100%;
    font-size: large;
    text-decoration: none;
    background-color: var(--darkred);
    padding: .5rem;
    text-align: center;
    color: var(--text-white);
    border-radius: .25rem;
}

.link-btn:hover{
    background-color: var(--darkred-hover);
}

.m-top {
    margin-top: 2rem;
}