body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-top: 1.5rem;
    width: 30%;
    border: 1px solid rgb(192, 80, 80);
    box-shadow: 0px 0px 5px rgb(192, 80, 80);
    border-radius: .25rem;
    position: relative;
}

label {
    text-align: left;
}

.icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    border-top: 1px solid darkred;
    z-index: 1;
}

input {
    width: 100%;
    padding: .35rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid darkred;
}

input:focus {
    outline: 2.5px solid red;
    transition: .3s;
}

.main-body {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;
}

div>h1 {
    text-align: center;
}

.new-password {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


.current-password {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.Authority-code {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.pw-btn {
    width: 70%;
    height: 3rem;
    background-color: rgb(80, 4, 4);
    border: 1px solid red;
}

/* .pw-btn>a{
    text-decoration: none;
   padding: 1rem;
    color: white;
    text-align: center;
    display: inline-block;
    
} */

.link-btn {
    text-decoration: none;
    background-color: darkred;
    padding: .5rem;
    text-align: center;
    color: white;
    border-radius: .25rem;
}
.link-btn:hover{
    background-color: var(--darkred-hover);
}

.m-top {
    margin-top: 2rem;
}